/* Login.css */
.login-container {
    max-width: 400px;
    font-size: 13px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-logo {
    max-width: 150px;
    /* Adjust the desired width */
    height: auto;
    /* Maintain the aspect ratio */
}

.login-title {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}

.login-form {
    display: flex;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
}

.login-button {
    background-image: linear-gradient(310deg, #222852, #00afb9);
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 40px;
    transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
    background-color: #d05557;
}

.login-link {
    margin-top: 10px;
    text-decoration: none;
    color: #ff0707;
    font-size: 13px;
    transition: color 0.2s ease-in-out;
}

.login-link-container {
    text-align: center;
    margin-top: 1rem;
}

.login-link:hover {
    color: #cb7e36;
}
